:host {
  margin-top: 35px;
  .lc-edit-owner-discount {
    margin-top: 35px;
  }
  .mat-slide-toggle {
    margin: 0;
  }
  .mat-raised-button {
    margin: -4px 0;
  }
  .mat-input-element{
    width: initial !important;
    margin-top: 4px;
  }
  .status-staff-discount {
    top: 22px;
    right: 0;
    position: absolute;
  }
}
