@import '../../../../shared/sass/_mixins.scss';

:host-context(.download-qrcode-image) {
  img {
    display: block;
    margin: 15px auto 0;
  }
}
:host-context(.print-image) {
  img {
    margin: 3.5mm;
    @include size(60mm);
  }
}
/*:host-context(.mat-card-image) {
  img {
    display: block;
    @include size(350px);
  }
}*/
:host-context(.mat-card-image) img {
  display: block;
  @include size(350px);
  border: 1px solid red;
}

