<form role="form" [formGroup]="forgotPasswordForm" class="lc-profile-form" novalidate>
  <div class="mat-block">
    <label>
      {{'forgotpasswordmessage' | translate}}
    </label>
    <mat-form-field class="field-full-width" dividerColor="{{getDividerColor(forgotPasswordForm.controls['email'])}}">
      <input
        matInput
        id="email"
        type="email"
        mat-autofocus
        formControlName="email"
        placeholder="{{'email' | translate}}"
      >
    </mat-form-field>
    <span
      class="error-message text-danger"
      [hidden]="forgotPasswordForm.controls['email'].valid || forgotPasswordForm.controls['email'].pristine"
    >
      <small
        *ngIf="forgotPasswordForm.controls['email'].errors && forgotPasswordForm.controls['email'].errors.invalidEmailAddress"
      >
        {{'form_error_email' | translate}}
      </small>
      <small *ngIf="forgotPasswordForm.controls['email'].errors && forgotPasswordForm.controls['email'].errors.required">
        {{'form_error_required' | translate}}
      </small>
    </span>
  </div>
  <button
    type="submit"
    color="success"
    mat-raised-button
    (click)="forgotPassword()"
    class="btn-block mat-success p-h-mat"
    [disabled]="!forgotPasswordForm.valid"
  >
    {{'sendemail' | translate}}
  </button>
</form>
