<!-- <div class="container-fluid">
  <div>
    <h3 class="text-left text-muted text-uppercase title-container">
      {{'settings' | translate}} > {{'activities' | translate}} > {{(state.includes('**.Online') ? 'online' : 'offline') | translate}}
    </h3>
    <hr> -->
    <ui-view></ui-view>
  <!-- </div>
  <div class="group-btns-rk">
    <button
      mat-fab
      type="button"
      color="accent"
      class="mat-btn"
      tooltip-position="below"
      (click)="state.includes('**.Online') ? openAddActivityDialog() : openAddActivityDialog()"
      [matTooltip]="(state.includes('**.Online') ? 'addOnlineAcitivity' : 'addOfflineAcitivity') | translate"
    >
      <mat-icon class="mat-48">add</mat-icon>
    </button>
  </div>
</div> -->
