@import '../../../shared/sass/_colors.scss';
@import '../../../shared/sass/_mixins.scss';

:host {
  display: block;
  padding: 0 1rem;
  .fieldset-multiple {
    padding: 0;
    margin-bottom: 30px;
    fieldset {
      padding: 15px 8px;
      border: 1px dotted #ccc;
    }
    legend {
      width: auto;
      border: none;
      padding: 0 15px;
      text-align: left;
      font-weight: 500;
      font-size: 1.3rem;
    }
    mat-checkbox {
      margin-left: 15px;
    }
    mat-select {
      margin-top: 10px;
    }
    .no-specific {
      line-height: 65px;
    }
    .display-choices {
      margin-top: 15px;
      margin-left: 7.5px;
      mat-icon {
        color: $success-color;
      }
      .edit,
      .delete {
        cursor: pointer;
        mat-icon {
          color: $accent-color-icon;
        }
        &:hover mat-icon,
        &:hover mat-icon {
          color: #E91E63;
        }
      }
    }
    &.meals mat-select {
      margin-top: 15px;
    }
    .meals-wrapper {
      display: block;
      .meals-content {
        z-index: 1;
        overflow: hidden;
        position: relative;
        .to {
          margin: 5px 0;
          font-size: 1rem;
          padding-right: 10px;
        }
        .from {
          margin: 3px 0;
          font-size: 1rem;
          padding-left: 5px;
          padding-right: 10px;
        }
      }
    }
    .file-upload {
      input[type='file'] {
        display: none;
      }
    }
    .select-day {
      width: 57%;
      height: 30px;
      color: #333;
      padding: 2px 4px;
      padding-left: 1px;
      overflow-y: hidden;
      background-color: #fff;
      border: 1px solid #e1e1e1;
      option {
        width: 60px;
        margin-left: -1px;
        text-align: center;
        display: inline-block;
        background-color: #fff;
        border: 1px dotted #e1e1e1;
      }
    }

  }
  .form-control-file {
    display: none;
  }
  .mat-form-field {
    // width: 108px;
    bottom: 10px;
  }
  .disposition {
    //  bottom: 10px!important
  }
  .img-dimension{
    min-width: 160px!important;
    max-width: 160px!important;
    max-height: 160px;
    min-height: 160px
  }
  .img-position{
    padding-left: 15px;
  }
  .mat-form-field {
    display: unset!important;
  }
  .lc-website-form{
    margin-top: 10px;
  }
  .img-cover{
    max-height: 160px;
    min-height: 160px;
  }
}
