.px-2{
  padding-top:18px !important;
}
.color {
  width: 775px !important;
}
.tran1 {
  width: 775px !important;
}
.tran2 {
  width: 375px !important;
}
.tran3 {
  width: 240px !important;
}
.tran4 {
  width: 175px !important;
}
.tran5 {
  width: 240px !important;
}
.tran6 {
  width: 240px !important;
}
.tran7 {
  width: 240px !important;
}
.tran8 {
  width: 175px !important;
}
.tran9   {
  width: 240px !important;
}