<div class="conatiner-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="pull-left">
        <img
          class="img-responsive"
          alt="logo snugstaff"
          src="assets/images/logo-snugstaff.png"
        >
      </div>
      <div class="pull-right lang">
      <!--  <app-language-selector class="auth"></app-language-selector>-->
      </div>
    </div>
    <div class="col-lg-12 not-found-wrapper">
      <div class="row">
        <div class="col-lg-5 not-found-img">
          <div class="bar-left"></div>
          <img
            class="img-fluid"
            alt="Snugstaff page 404 error"
            src="assets/images/error-white.png"
          >
        </div>
        <div class="col-lg-7 not-found-content">
          <p class="text-uppercase"><strong>Oops!</strong></p>
          <p>We can't seem to find the page you're looking for.</p>
          <p>code: 404</p>
          <p>Here are some helpful links instead:</p>
          <ul class="list-inline">
            <li class="list-inline-item"><a uiSref="Dashboard.Settings.Socials" uiSrefActive="active">Settings</a> | </li>
            <li class="list-inline-item"><a uiSref="Dashboard.Users" uiSrefActive="active">Users</a> | </li>
            <li class="list-inline-item"><a uiSref="Dashboard.Tables" uiSrefActive="active">Tables</a> | </li>
            <li class="list-inline-item"><a uiSref="Dashboard.Accounting.Home" uiSrefActive="active">Accounting</a> | </li>
            <li class="list-inline-item"><a uiSref="Dashboard.Menu.Home" uiSrefActive="active">Menu</a> | </li>
            <li class="list-inline-item"><a uiSref="Dashboard.Orders" uiSrefActive="active">Order</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
