@import '../../shared/sass/mixins';

:host {
  // height: 100%;
  // display: flex;
  // max-width: 100%;
  // align-items: center;
  // box-sizing: border-box;
  // flex-direction: column;
  // align-content: center space-between;
  h2 {
    width: 80%;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    @include dottedBorder(#8f8f8f, horizontal, bottom, 50px, 2px);
  }
  mat-card {
    padding: 0.625rem; // 10px
    outline-width: 0.1875rem; // 3px
    outline-style: solid;
    mat-card-title img {
      margin-right: 0.3125rem; // 5px
      @include size(3.125rem); // 50px
    }
    mat-card-content {
      padding: 0.875rem; // 14px
    }
  }
  .group-btns-rk {
    right: 0;
    top: -25px;
    position: absolute;
    button {
      margin-left: 6px;
    }
  }
}
