


.mat-menu-panel.xxxx {
  max-width: 400px;
  overflow: hidden;
}

.mat-menu-panel.xxxx {
  max-width: 400px;
  overflow: hidden;
}
.mat-menu-panel.xxxx {
  // max-width: 400px;
  overflow: hidden;
}


.btn-primary {
  margin-left:0px!important;
  color: white;
  background-color: #536cfa;
}