<div class="container-fluid">
  <h3 class="text-left text-muted text-uppercase title-container">
    {{'tables' | translate}} > {{'settings' | translate}}
  </h3>
    <hr>
  <div
    fxLayoutWrap
    fxLayout="row"
    fxLayoutAlign="center center"
  >
    <div fxFlex="100" class="reductions description text-center padding-v-mat">
      <h2>{{'tableSettings' | translate}}</h2>
    </div>
    <app-call-waiter fxFlex="50"></app-call-waiter>
    <app-wifi-settings fxFlex="50"></app-wifi-settings>
  </div>
</div>
