<form>
  <div class="modal-header">
    <h4 matDialogTitle *ngIf="!data?.title?.args">{{data?.title | translate}}</h4>
    <h4 matDialogTitle *ngIf="data?.title?.args">{{data?.title?.value | translate: data?.title?.args}}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      *ngIf="!data.withoutCancel"
      (click)="matDialogRef.close(false)"
    >
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <div class="modal-body clearfix text-center">
    <div class="col-lg-12" *ngIf="data?.notificationMessage">
      <span class="col-lg-12 inline alert alert-warning">
        <mat-icon class="inline">warning</mat-icon> <span class="inline center">{{ (data.notificationMessage) | translate}}</span>
      </span>
    </div>
    <div>
      <span mat-dialog-content *ngIf="!data?.message?.args">{{data.message | translate}}</span>
      <span mat-dialog-content *ngIf="data?.message?.args">{{data?.message?.value | translate: data?.message?.args}}</span>
    </div>
    <mat-form-field class="pin-code-input mt-2" *ngIf="data.withPin">
      <mat-hint>{{'pinCodeRequiredMessage' | translate}}</mat-hint>
      <input
        matInput
        type="number"
        [(ngModel)]="data.pinCode"
        [placeholder]="'pinCode' | translate"
        [ngModelOptions]="{standalone: true}"
        [type]="showPin ? 'text' : 'password'"
      >
      <span matSuffix>
        <button
          type="button"
          tabindex="-1"
          mat-raised-button
          (click)="showPin = !showPin"
          class="btn btn-sm lc-btn-primary show-pin text-capitalize"
        >
          <span [hidden]="!showPin"> <i class="fa fa-eye-slash fa-2x"></i></span>
          <span [hidden]="showPin"> <i class="fa fa-eye fa-2x"></i></span>
        </button>
      </span>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="pull-right">
    <button
      type="submit"
      matDialogClose
      mat-raised-button
      [color]="data.confirmColor || 'primary'"
      [disabled]="data.withPin ? (!data.pinCode && data.pinCode !== 0) : false"
      [class.lc-btn-primary]="data.confirmColor === 'primary'"
      (click)="matDialogRef.close(data.withPin ? {pinCode: data.pinCode, response: true} : true)"
    >
      {{(data.confirmLabel || 'confirm') | translate}}
    </button>
    <button
      type="button"
      matDialogClose
      mat-raised-button
      *ngIf="!data.withoutCancel"
      (click)="matDialogRef.close(false)"
      [color]="data.cancelColor || 'warn'"
    >
      {{'cancel' | translate}}
    </button>
  </div>
</form>
