:host {
  .show-pin {
    margin: 0;
    padding: 0 4px;
    min-width: 25px;
    font-size: 0.5rem;
    line-height: 18px;
    box-shadow: none;
    color: #000 !important;
    background-color: transparent !important;
  }
}
.modal-header{
    padding-top:1px;
    padding-right:1px
}
  .close{
    padding-left:60px

  }

